#main
  - if flash[:user_created]
    #congrats
      %p= flash[:user_created]
  #userinfo
    %p#username= link_to @user.name, user_by_name_path(@user.name)
    %p= t '.history'
    - if @participants.size > 0
      - @participants.each do |p|
        = render 'events/event', :event => Event.find(p.event_id), :type => :simple
      %p.footer= will_paginate @participants,                                                              |
          :previous_label => (t 'general.paginate.pre'), :next_label => (t 'general.paginate.next') |
    - else
      %p= t '.no_history'
  / End of userinfo
/ End of main
