<% if @event.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div id='form'>

  <%= form_for(@event, :html => {:class => 'form-horizontal'}) do |f| %>
    <div class="control-group">
      <%= f.label :purpose, t('.purpose'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :purpose, :class => 'input-xlarge', :maxlength => 30, :placeholder => t('.purpose-eg') %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :held_datetime, t('.held_datetime'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :held_datetime, :id => 'timepicker', :class => 'input-small', :value => Time.now.strftime("%H:%M") %>
      </div>
    </div>

<!--
    <div class="control-group">
      <%# f.label :held_datetime, t('.held_datetime'), :class => 'control-label' %>
      <div class="controls">
        <%# f.time_select :held_datetime, :default => Time.now + 30.minutes, :minute_step => 10, :html_opts => {:class => 'input-small'} %>
      </div>    
    </div>    
-->

    <div class="control-group">
      <%= f.label :place, t('.place'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :place, :class => 'input-xlarge', :maxlength => 30, :placeholder => t('.place-eg') %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :msg, t('.msg'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :msg, :class => 'input-xlarge', :cols => 40, :rows => 4, :placeholder => t('.msg-eg') %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit :class => 'btn btn-large btn-success' %>
      </div>
    </div>
  <% end %>

</div>
