<div id="banner">
  <p><%= t 'general.description1' %></p>
  <p><%= t 'general.description2' %></p>
  <% unless signed_in? %>
    <ul><li><a class="btn btn-large btn-block btn-success" href="<%= signup_path %>"><%= t 'general.start' %></a></li></ul>
  <% end %>
</div><!--/#banner-->
  
<div id="main">
  <h1><%= t '.title' %></h1>
  <%= render 'events_list' %>
</div><!--/#main-->
