<div id='banner'>
  <p><%= t 'general.description1' %></p>
  <p><%= t 'general.description2' %></p>
  <% unless session[:user_id] %>
    <ul><li><a class='button' href='<%= signup_path %>'><span><%= t 'general.start' %></span></a></li></ul>
  <% end %>
</div><!--End of banner-->
  
<div id='main'>
  <h1><%= t '.title' %></h1>
  <%= render 'events_list' %>
</div><!--End of main-->
