<div id='main'>
  <p id="notice"><%= notice %></p>

  <%# Display Event %>
  <%= render @event, :type => :detail %>

  <%# Display Participants %>
  <div id='participants'>
    <% participants = Participant.where(:event_id => @event.id, :organizer => false).select('user_id') %>
    <p><span><%= t '.participant' %>(<%= participants.size %><%= t '.unit' %>): </span>
      <% participants.each do |p| %>
        <% user = User.find(p.user_id) %>
        <span><%= link_to user.name, user_by_name_path(user.name) %></span>
      <% end %>
    </p>
  </div>

  <%# Display Comments %>
  <% @comments.each do |c| %>
    <%# Change Event Background Color %>
    <div class="<%= div = c.msg == '参加します！' ? 'join_comment' : 'comment' %>">
      <%= simple_format(c.msg, {:class => 'message'}) %>
      <p class='crud'>
        <% user = User.find(c.user_id) %>
        <span class='user'>by <%= link_to user.name, user_by_name_path(user.name) %></span>
        <span class='posted'><%= time_ago_in_words(c.created_at) %></span>
      </p>
    </div>
  <% end %>

  <% if session[:user_id] %>
    <%# Diplay Comment Form %>
    <%= form_for(@comment, :url => url_for(:action => 'comment')) do |f| %>
   
      <% if @comment.errors.any? %>
        <div id="error_explanation">
          <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label (t '.to_comment') %><br />
        <%= f.text_area :msg, :cols => 60, :rows => 3 %>
      </div>
      <%= f.hidden_field :event_id, :value => @event.id %>
      <%= f.hidden_field :user_id, :value => session['user_id'] %>

      <div class="actions">
        <%= f.submit (t 'helpers.submit.comment') %>
      </div>
    <% end %><%# End of form %>
  <% else %>
    <p><%= link_to t('.signin_to_comment'), signin_path %></p>
  <% end %>

  </div><!--End of comment_form-->

</div><!--End of main-->
