<div id="main">
  <h1><%= t '.title' %></h1>

  <% if @error %>
    <div id="error_explanation">
      <ul>
        <li><%= @error %></li>
      </ul>
    </div>
  <% end %>

  <div id="form">

    <%= form_tag({:action => 'auth'}, {:class => 'form-horizontal'}) do %>
      <div class="control-group">
        <p><%= label_tag :username, t('activerecord.attributes.user.name'), :class => 'control-label' %></p>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <%= text_field_tag(:username, '', {:class => 'input-medium', :placeholder => 'username'}) %>
          </div>
        </div>
      </div>
      <div class="control-group">
        <p><%= label_tag :password, t('activerecord.attributes.user.password'), :class => 'control-label' %></p>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-key"></i></span>
            <%= password_field_tag(:password, '', {:class => 'input-medium', :placeholder => 'password'}) %>
          </div>
        </div>
      </div>

      <%# set action on hidden_field to redirect after logined %>
      <%# h(flash[:referer])%>
      <%= hidden_field_tag :referer, flash[:referer] %>

      <div class="control-group">
        <div class="controls">
          <div class='button'>
            <%= submit_tag (t 'helpers.submit.login'), :class => 'btn btn-success' %>
          </div>
        </div>
      </div>
    <% end %>

    <p><%= t '.signup_msg' %> <%= link_to (t 'general.signup'), signup_path %></p>
  </div><!--/#form-->

</div><!--/#main-->
