<div id="main">
  <h1><%= t '.title' %></h1>

  <div id="form">
    <p style="color: Red"><%= @error %></p>

    <%= form_tag :action => 'auth' do %>
      <div class="field">
        <p><%= label_tag :username, t('activerecord.attributes.user.name') %></p>
        <%= text_field_tag(:username, '', {:size => 20}) %>
      </div>
      <div class="field">
        <p><%= label_tag :password, t('activerecord.attributes.user.password') %></p>
        <%= password_field_tag(:password, '', {:size => 20}) %>
      </div>

      <div class="check_box">
        <p><%= check_box_tag(:memory, '', checked = true) %><%= label_tag :memory, t('.remember_password') %></p>
      </div>

      <%# set action on hidden_field to redirect after logined %>
      <%= h(flash[:referer])%>
      <%= hidden_field_tag :referer, flash[:referer] %>

      <div class='button'>
      <%= submit_tag (t 'helpers.submit.login') %>
      </div>
    <% end %>

    <p><%= t '.signup_msg' %> <%= link_to (t 'general.signup'), signup_path %></p>
  </div><!--End of form-->

</div><!--End of main-->
