<div id='main'>
<h1><%= t 'login.title' %></h1>
<p style="color: Red"><%= @error %></p>
<%= form_tag :action => 'auth' do %>
  <div class="field">
    <p><%= t 'activerecord.attributes.user.name' %></p>
    <%= text_field_tag(:username, '', {:size => 20}) %></label>
  </div>

  <div class="field">
    <p><%= t 'activerecord.attributes.user.password' %></p>
    <%= password_field_tag(:password, '', {:size => 20}) %></label>
  </div>

  <div class="check_box">
  <p><%= t 'login.remember_password' %><%= check_box_tag(:memory, '', checked = true) %></p>
  </div>

  <!-- set action on hidden_field to redirect after logined  -->
  <%= hidden_field_tag :referer, flash[:referer] %>

  <div class='button'>
  <%= submit_tag (t 'login.submit') %>
  </div>

<% end %>

<p><%= t 'login.signup_msg' %> <%= link_to (t 'general.signup'), signup_path %></p>

</div><!--End of main-->
