<!DOCTYPE html>
<html>
  <head>
    <title><%= t 'general.title' %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "jquery.timepicker", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id='container'>
      <div id='header'>
        <div id='menu_bar'>
          <div id='menu_bar_left'>
            <ul class="linelist">
              <li class='linelist title'><%= link_to (t 'general.title'), root_path %></li>
              <li class='linelist copy'><%= t 'general.copy' %></li>
            </ul>
          </div>
          <div id='menu_bar_right'>
            <% if session[:user_id] %>
              <% user = User.find(session[:user_id]) %>
              <div class="btn-group user_btn">
                <%= link_to '<i class="icon-user icon-white"></i>'.html_safe + ' ' + user.name,
                    '#', :class => 'btn' %>
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to '<i class="icon-info-sign"></i>'.html_safe + ' ' + (t 'general.userinfo'),
                          user_by_name_path(user.name) %></li>
                  <li><%= link_to '<i class="icon-cog"></i>'.html_safe + ' ' + (t 'users.edit.title'), account_path %></li>
                  <li><%= link_to '<i class="icon-book"></i>'.html_safe + ' ' + (t 'general.help'), root_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to '<i class="icon-signout"></i>'.html_safe + ' ' + (t 'general.signout'), signout_path %></li>
                </ul>
              </div>
            <% else %>
              <ul class="linelist">
                <li class="linelist"><%= link_to '<i class="icon-signin"></i>'.html_safe +
                                         ' ' + (t 'general.signin'), signin_path %></li>
                <li class="linelist bordered"><%= link_to '<i class="icon-magic"></i>'.html_safe +
                                         ' ' + (t 'general.signup'), signup_path %></li>
              </ul>
            <% end %>
          </div><!--/#menu_bar_right-->
        </div><!--/#menu_bar-->
      </div><!--/#header-->

      <div id='menu_bar_space'></div>

      <%= yield %>

      <div id='sidebar'>
        <ul><a class='btn btn-large btn-block btn-success' href='<%= new_event_path %>'><span><i class="icon-bullhorn"></i><%= t 'general.ask' %></span></a></ul>
        <ul><a class='btn btn-large btn-block btn-success' href='<%= search_path %>'><span><i class="icon-search"></i><%= t 'general.search' %></span></a></ul>
      </div><!--End of sidebar-->

    </div><!--End of container-->

    <div id='footer'>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="larody">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <p class='copyright'>© <%= Time.now.year %> <%= link_to t('general.title'), root_path %> - <%= link_to (t 'footer.about.here'), about_path('here') %> - Hosted by <%= link_to '@larody', 'https://twitter.com/larody', :target => '_blank' %></p>
    </div><!--End of footer-->

  </body>
</html>
